<!DOCTYPE html>
<html lang="en" prefix="dcterms: http://purl.org/dc/terms/">
    <head>
        <meta charset="utf-8">
        {{#if author}}
            <meta name="author" content="{{author}}">
        {{/if}}
        <meta property="dcterms:modified" content="{{date}}">
    </head>
    <body>
        {{content}}
    </body>
</html>
